@font-face {
    font-family: 'ubuntubold';
    src: url('fonts/ubuntu-bold-webfont.woff2') format('woff2'),
         url('fonts/ubuntu-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubunturegular';
    src: url('fonts/ubuntu-regular-webfont.woff2') format('woff2'),
         url('fonts/ubuntu-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*,
::before,
::after {
    box-sizing: border-box;
    font-family: "ubunturegular";
}

:root {
    --main-color: #d418e1;
}

html,
body {
    margin: 0;
    padding: 0;
}

.main-container {
    display: grid;
    grid-template-columns: 300px 3fr;
}

.header {
    display: grid;
    grid-template-rows: 100px 100px;

}

/* Upper Header */

.upper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    width: 600px;

    border: none;
    border-radius: 30px;
    background-color: #d6cde8;
}

.right-upper-header {
    display: flex;
    align-items: center;

    gap: 15px;
}

.btn-profile {
    display: flex;
    align-items: center;

    padding: 10px;
    margin: 10px;
    margin-right: 50px;
    gap: 10px;

    border: 1px solid black;
    border-radius: 50px;
}

/* Upper Header END */

/* Lower header area */

.lower-header {
    display: flex;
    justify-content: space-between;

    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
}

.profile-welcome {
    display: flex;
    align-items: center;

    margin: 10px;
    margin-left: 50px;
    gap: 10px;

    font-size: 1.5rem;
    font-weight: bold;
}

button {
    display: block;

    width: 100px;
    height: 50px;

    border: none;
    border-radius: 50px;
    background-color: var(--main-color );
    
    color: white;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

.actions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin: 10px;
    margin-right: 50px;
    gap: 20px;
}

/* Lower header area END */

.main-panel {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;

    background-color: #d6cde8;

    justify-items: center;
}

.cards-container {
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    padding: 10px;

    display: flex;
    flex-direction: column;

}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    place-items: center;
    gap: 30px;
}

.cards > div {
    width: 500px;
    height: 250px;

    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;

    display: grid;
    grid-template-columns: 10px 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr;

    column-gap: 30px;
}

.icons-card {
    grid-column: 3 / 4;
    grid-row: 3 / 4;

    justify-self: end;
    align-self: end;

    padding: 10px;
}

.cards > div > p {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

.ann-container {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    padding: 10px;
}

.announcements,
.trending {
    width: 400px;

    padding: 0 50px 10px 50px;
    background-color: white;
    border-radius: 10px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.trending-container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    padding: 10px;
}

.trending {
    height: 380px;
    width: 400px;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.announcements > div,
.trending > div {
    background-color: white;

    padding: 10px;
    padding-left: 0;
}

.logo-name {
    display: flex;

    margin: 10px;
    margin-top: 20px;
    gap: 10px;
}

.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    gap: 50px;

    background-color: var(--main-color);
}

ul {
    list-style: none;
    margin: 10px;
    padding-left: 0;
}

.menu,
.additional-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    gap: 20px;
}

li > img,
.logo-name > img {
    filter: invert(100%);
    border: none;

    width: 30px;
}

li {
    display: flex;
    align-items: center;

    color: white;

    font-size: 24px;
    font-weight: bold;

    gap: 15px;
}

.dashboard > * {
    margin-left: 30px;
}

.logo-name > p {
    display: flex;
    align-items: center;

    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.logo-name > img {
    width: 50px;
}

.right-upper-header > img,
.search-bar > img {
    width: 30px;
}

.search-bar {
    display: flex;
    gap: 10px;

    margin-left: 50px;
}

.btn-profile > img {
    width: 50px;
    height: 50px;

    border-radius: 50px;
    border: 1px solid black;
}

.profile-welcome > img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: 1px solid black;
}

p {
    margin: 0;
}

.trending-container > h2 {
    margin-top: 0;
}


.icons-card > img {
    width: 30px;
    margin: 5px;
}

h2 {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn-profile:hover,
.notif:hover,
.icons-card > img:hover {
    cursor: pointer;
}

h3 {
    margin-bottom: 10px;
}

.announcements > div > p {
    color: grey;
}

.trending > div > img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 1px solid black;
}

.trending > div {
    display: flex;
    gap: 20px;
}

.trending .profile-names p:nth-of-type(2) {
    color: grey;
}
  
.cards p { 
    color: grey;
}

.card-line {
    width: 10px;
    background-color: #6b3394;
    height: 100%;
    margin: 0;

    grid-column: 1;
    grid-row: 1 / 4;

    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

.announcements > div:nth-child(-n+2) {
    border-bottom: 1px solid rgb(145, 145, 145, 0.3);
}